/* Hoja de estilos principal */

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }

@keyframes scale-display {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* Variables */
:root{
	/* ## Colors */
	--cyan: hsl(167, 36%, 54%);
	--dark-blue: hsl(205, 41%, 21%);
	--gray-blue: hsl(245, 10%, 22%);
	--white: hsl(0, 0%, 98%);
	--grey: hsl(240, 2%, 92%);
	--red: hsl(0, 90%, 57%);

	/* Fonts */
	--ibarra: 'Ibarra Real Nova', serif;
	--sans: 'Public Sans', sans-serif;
	--regular: 400;
	--bold: 700;
}

/* Headings */
.header-1{
	font-family: var(--ibarra);
	font-size: 50px;
	font-size: 3.125rem;
	line-height: 50px;
	line-height: 3.125rem;
	font-weight: var(--bold);
	letter-spacing: -0.45px;
}
.header-2{
	font-family: var(--ibarra);
	font-size: 40px;
	font-size: 2.5rem;
	line-height: 42px;
	line-height: 2.625rem;
	font-weight: var(--bold);
	letter-spacing: -0.36px;
	color: var(--gray-blue);
}
.header-3{
	font-family: var(--ibarra);
	font-size: 32px;
	font-size: 2rem;
	line-height: 36px;
	line-height: 2.25rem;
	font-weight: var(--regular);
	letter-spacing: -0.29px;
}

/* Body */
.body-1{
	font-family: var(--sans);
	font-size: 16px;
	font-size: 1rem;
	line-height: 30px;
	line-height: 1.875rem;
	font-weight: var(--regular);
	color: var(--gray-blue);
}
.body-2{
	font-family: var(--sans);
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 30px;
	line-height: 1.875rem;
	font-weight: var(--regular);
}
/* Buttons */
.button-primary{
	background-color: var(--dark-blue);
	border: none;
	color: var(--white);
	font-size: 12px;
	font-size: 0.75rem;
	letter-spacing: 2px;
	font-family: var(--sans);
	font-weight: var(--regular);
	text-transform: uppercase;
}
.button-primary:hover{
	background-color: var(--cyan);
}
.button-primary:disabled{
	opacity: 0.2;
}

.button-secondary{
	background-color: transparent;
	border: 1px solid var(--gray-blue);
	color: var(--gray-blue);
	font-size: 12px;
	font-size: 0.75rem;
	letter-spacing: 2px;
	font-family: var(--sans);
	font-weight: var(--regular);
	text-transform: uppercase;
}
.button-secondary:hover{
	background-color: var(--gray-blue);
	color: var(--white);
}
.button-secondary:disabled{
	opacity: 0.2;
}

/* Design */
html {
    font-size: 16px;
    font-size: 1rem;
	font-family: var(--sans);
	font-weight: var(--regular);
}
.home{
	width: 100vw;
	height: 666.933vw;
}
.page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 4.16% 25.55% 39.79% 16.35% 14.15%;
	grid-template-columns: 100%;
}
.masthead{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 50% 50%;
	padding: 8.53% 8.53% 10.67%;
}
.masthead .logo{
	align-self: stretch;
	justify-self: start;
	width: 38.64%;
}
.masthead .logo svg path{
	fill: var(--gray-blue);
}
.masthead .menu-toggle{
	align-self: center;
	justify-self: end;
	width: 15.43%;
}
.masthead .main-navigation{
	display: none;
	background-color: var(--gray-blue);
	position: absolute;
	right: 8.53%;
	top: 14.93%;
	width: 59.47vw;
	height: 49.6vw;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
}
.masthead .main-navigation ul{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	padding: 17.94% 0;
	grid-template-rows: repeat(3, 13.21%);
	grid-template-columns: 100%;
	grid-row-gap: 30.185%;

}
.masthead .main-navigation ul .navigation-item{
	justify-self: center;
	align-self: start;
	color: var(--white);
	font-size: 12px;
	font-size: 0.75rem;
	letter-spacing: 2px;
	font-family: var(--sans);
	font-weight: var(--regular);
	text-transform: uppercase;
}
.main{
	justify-self: stretch;
	align-self: stretch;
	padding: 0 8.53% 25.6%; 
	display: grid;
	grid-template-rows: 49.91% 45.67%;
	grid-template-columns: 100%;
	grid-row-gap: 4.42%
}
.entry-thumbnail{
	justify-self: stretch;
	align-self: stretch;
}
.entry-thumbnail img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.main .entry-content{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 68.57% 19.59%;
	grid-template-columns: 100%;
	grid-row-gap: 11.84%;
}
.main .entry-content .entry-tittle{
	justify-self: stretch;
	align-self: stretch;
}
.main .entry-content .entry-button{
	justify-self: start;
	align-self: stretch;
	width: 64.31%;
}
.personal{
	justify-self: stretch;
	align-self: stretch;
	padding: 0 8.53%; 
	display: grid;
	grid-template-rows: 34.77% 62.01%;
	grid-template-columns: 100%;
	grid-row-gap: 3.22%
}
.personal .entry-content{
	justify-self: stretch;
	align-self: stretch;
	padding: 10.61% 0 16.72%;
	display: grid;
	grid-template-rows: 7.89% 73.31% 9.02%;
	grid-template-columns: 100%;
	grid-row-gap: 4.89%;
	border-top: 1px solid var(--grey);
	border-bottom: 1px solid var(--grey);
}
.personal .entry-content .entry-tittle{
	justify-self: stretch;
	align-self: stretch;
}
.personal .entry-content .entry-summary{
	justify-self: stretch;
	align-self: stretch;
}
.personal .entry-content .entry-button{
	justify-self: start;
	align-self: stretch;
	width: 64.95%;
}
.contact{
	justify-self: stretch;
	align-self: stretch;
	padding: 30.67% 8.53% 21.33%; 
	display: grid;
	grid-template-rows: 58.88% 22.43%;
	grid-template-columns: 100%;
	grid-row-gap: 18.69%
}
.contact .entry-tittle{
	justify-self: stretch;
	align-self: stretch;
	text-align: center;
}
.contact .entry-button{
	justify-self: center;
	align-self: stretch;
	width: 52.09%;
}
.footer{
	justify-self: stretch;
	align-self: stretch;
	padding: 14.93% 36.27%;
	display: grid;
	grid-template-rows: 13.22% 43.80% 9.92%;
	grid-template-columns: 100%;
	grid-row-gap: 16.53%;
	background-color: var(--gray-blue);
	color: var(--white);
}
.footer .footer-logo{
	justify-self: center;
	align-self: stretch;
}
.footer .footer-logo svg path{
	fill: var(--white);
}
.footer .footer-nav{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
}
.footer .footer-nav ul{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 43.4% 43.4% 13.2%;
	grid-template-columns: 100%;
}
.footer .footer-nav ul li{
	justify-self: center;
	align-self: start;
	text-transform: uppercase;
	font-size: 12px;
	font-size: 0.75rem;
	letter-spacing: 2px;
}
.footer .footer-social{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(3, 1fr);
}
.footer .footer-social li{
	justify-self: center;
	align-self: stretch;
}


/* 
##Device = Mobiles
##Screen = narrow screens
*/
@media (max-width: 320px) {
	
}
/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w 768px to 1024px
*/
 @media (min-width: 768px) {
	
 }
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px){
}
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}